<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://theking0912.github.io/HadaMeta.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://theking0912.github.io/58x58.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://theking0912.github.io/1024x1024.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.hada.hadameta</string>
				<key>bundle-version</key>
				<string>2.1.7</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>HadaMeta</string>
			</dict>
		</dict>
	</array>
	<key>BuildMachineOSBuild</key>
	<string>20F71</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Hada Meta</string>
	<key>CFBundleExecutable</key>
	<string>HBuilder</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon20x20</string>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.hada.hadameta</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Hada Meta</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.7</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>217</string>
	<key>DCLOUD_AD_ID</key>
	<string>123876290306</string>
	<key>DCLOUD_UNISTATISTICS</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>19C51</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>15.2</string>
	<key>DTSDKBuild</key>
	<string>19C51</string>
	<key>DTSDKName</key>
	<string>iphoneos15.2</string>
	<key>DTXcode</key>
	<string>1321</string>
	<key>DTXcodeBuild</key>
	<string>13C100</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>telegram</string>
		<string>weixin</string>
		<string>wechat</string>
		<string>mqq</string>
		<string>weibosdk2.5</string>
		<string>weibosdk</string>
		<string>mqqapi</string>
		<string>mqzone</string>
		<string>sinaweibo</string>
		<string>sinaweibohd</string>
		<string>mqqopensdkapiV3</string>
		<string>mqqwpa</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>qqmap</string>
		<string>baidumap</string>
		<string>iosamap</string>
		<string>comgooglemapsurl</string>
		<string>openApp.jdMobile</string>
		<string>taobao</string>
		<string>hbuilder</string>
		<string>pinduoduo</string>
		<string>imeituan</string>
		<string>tmall</string>
		<string>dianping</string>
		<string>vipshop</string>
		<string>yanxuan</string>
		<string>suning</string>
		<string>kaola</string>
		<string>snssdk32</string>
		<string>shark.video</string>
		<string>wbmain</string>
		<string>cydia</string>
		<string>streamapp</string>
		<string>kwai</string>
		<string>pptv</string>
		<string>bilibili</string>
		<string>kugouURL</string>
		<string>qqnews</string>
		<string>zhihu</string>
		<string>doubanradio</string>
		<string>wccbyihaodian</string>
		<string>ctrip</string>
		<string>kuaikanmanhua</string>
		<string>ntesopen</string>
		<string>yddict</string>
		<string>shanbay</string>
		<string>gugutouchmanga</string>
		<string>bobo</string>
		<string>wtloginmqq2</string>
		<string>qrxs</string>
		<string>mailmaster</string>
		<string>jcnhers</string>
		<string>lightsky</string>
		<string>gaeagj</string>
		<string>yixin</string>
		<string>ydcourse</string>
		<string>awemesso</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>扫码时需要使用到摄像头</string>
	<key>NSFaceIDUsageDescription</key>
	<string>使用Face ID</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>运行期&amp;后台运行时访问位置信息</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>后台运行访问位置信息</string>
	<key>NSLocationUsageDescription</key>
	<string>访问位置信息</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>运行期访问位置信息</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>使用麦克风</string>
	<key>NSMotionUsageDescription</key>
	<string>使用传感器</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>保存图片时需要向相册中写入图片</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>修改个人信息或上传图片时从相册中选择图片作为用户头像</string>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<true/>
	<key>StatusBarBackground</key>
	<string>#ffffff</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>getui</key>
	<dict>
		<key>appid</key>
		<string>uhN2eyhIN59TqGtJhHlX67</string>
		<key>appkey</key>
		<string>ldSZlRWCIh90TN34yN22z8</string>
		<key>appsecret</key>
		<string>v83iYzve6r7neLCXPlJIp3</string>
	</dict>
	<key>marketChannel</key>
	<string>com.hada.hadameta|__UNI__A20F141|123876290306|</string>
</dict>
</plist>
